* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: system-ui;
  color: #555;
  background-color: #f7f7f7;
  min-height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.country__container {
  display: flex;
  font-size: 2rem;
  opacity: 0;
  transition: opacity 1s;
}

.country {
  background-color: #fff;
  box-shadow: 0 2rem 5rem 1rem rgba(0, 0, 0, 0.1);
  font-size: 1.8rem;
  width: 30rem;
  border-radius: 0.7rem;
  margin: 0 3rem;
}


.country__img {
  width: 30rem;
  height: 17rem;
  object-fit: cover;
  background-color: #eee;
  border-top-left-radius: 0.7rem;
  border-top-right-radius: 0.7rem;
}

.country__data {
  padding: 2.5rem 3.75rem 3rem 3.75rem;
}

.country__name {
  font-size: 2.7rem;
  margin-bottom: 0.7rem;
}

.country__region {
  font-size: 1.4rem;
  margin-bottom: 2.5rem;
  text-transform: uppercase;
  color: #888;
}

.country__row:not(:last-child) {
  margin-bottom: 1rem;
}

.country__row span {
  display: inline-block;
  margin-right: 2rem;
  font-size: 2.4rem;
}

/* Styling the Weather Card specifically */
.weather {
  transform: scale(0.8) translateY(1rem);
  margin-left: 0;
  position: relative;
}

.weather::before {
  content: 'Capital Weather';
  width: 100%;
  position: absolute;
  top: -4rem;
  left: 0;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #888;
}

.weather__icon-box {
  width: 30rem;
  height: 17rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 8rem; 
  background: linear-gradient(to bottom right, #52c2ff, #0062ff);
  border-top-left-radius: 0.7rem;
  border-top-right-radius: 0.7rem;
}

.weather--sunny .weather__icon-box {
  background: linear-gradient(to bottom right, #ffb347, #ffcc33);
}