*{
    margin: 0px;
}

.top_image{
width:100%;
height:auto;
display: block;
}

.Search_div{
    top : -520px;
    width:60%;
    background-color: white;
    height:50px;
    position:relative;
    margin: auto;
}


.Search_buttons{
    background-color: white;
    color: black;
    width: 120px;
    font-size: 16px;
    border: none;
    margin: 0px;
    color: rgb(247, 202, 144); 
    font-weight: bold;
}
.Search_buttons:hover{
    color: rgb(147, 121, 85); 
}

.Search_buttons_container{
    color: rgb(147, 121, 85); 
    position: absolute;
    right :0px;
    top:50%;
    transform:translateY(-50%);
}

.FLEX_word{
    position: absolute;
    top:50%;
    left:12px;
    transform:translateY(-50%);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bolder;
    color: rgb(255, 103, 2); ; 
}

.Digital_Studio_Block{
    width:14%; 
    position: relative; 
    margin: auto;
    top:-160px;
    text-align: center;

}

.Digital_Studio_Block_Title{
    font-size: 25px; 
    color: rgb(255, 103, 2); 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
    font-weight: bold;
}

.Digital_Studio_Block_brown_box{
    position:absolute;
    background-color: rgb(243, 146, 9); 
    width:80%;
    /* top:50px; */    
    left:50%;
    transform:translateX(-50%);
    padding:3px;
}

.Digital_Studio_Block_brown_box_text{
    color: white;
}


.our_services{
    position:relative;
    top: -30px;
    width:100%;
    text-align: center;
}

.div_boxes_container{

    text-align: center;
    margin-bottom: 90px;

}
.div_box{
    width: 200px;
    height: 200px;
    background-color: brown;
    display: inline-block;
    margin:0px 30px;
}

.products{
    width:235px;
    margin: 6px;
}

.all_poducts{
    
    text-align: center;
}