*{
    padding: 0px;
    margin: 0px;
}

.container{
    display: flex;
    justify-content: space-around;
    margin: 12px;
}

.container button{
    color:white;
    width: 10%;;
    background-color: rgb(34, 74, 240);
}

.container-menu ul{
    display: flex;
    width: 500px;
    justify-content: space-around;
    margin: 12px;
} 

.section-one{
    background-image: url(resources/im3.jpg);
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    overflow: auto;
}

.blue-p{
    color:  rgb(34, 74, 240);
    font-size: 12px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    margin: 12px;
}
.section-one p:nth-of-type(2){
    margin: 12px;
    font-size: 12px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.section-one-text{
    width:60%;
    margin-top: 230px;
    margin-left: 80px;
}
.section-one-text h2{
    font-size: 42px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 12px;
}
.section-one-text button{
    margin: 12px;
    padding: 10px 22px 10px 22px;
    background-color: rgb(17, 41, 87);
    color:white

}

.section-two-text{
    margin-top: 140px;
    margin-left: 30px;
    margin-bottom: 30px;
}

.section-two-text h3{
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
}

.section-two-cards{
    width:100%;
    display: flex;
    justify-content: space-around;

}

.section-two-cards div{
    width:30%;
    line-height: 22px;
    border: 2px solid rgba(0, 0, 0, 0.3); /* 30% opacity */
    p{
        color: rgb(117, 126, 126);
        margin-left: 20px;
        margin-top: 30px;
        margin-bottom: 30px;;
    }
}
.section-two-cards div P:nth-of-type(1){
   color: black;
   font-weight: bold;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-size: 20px;
}

.section-two-cards div img{
    width:30%;
    margin-left:12px ;
    margin-top: 30px;;    
}


@media screen and (max-width:431px){
    .container{
        flex-direction: column;
    }
    .container-menu ul{
        flex-direction: column;
        width: 100%;
        align-items: start;
    } 
    .container button{
       align-self: center;
       width:60%;
    }
    .section-one-text{
        margin-top: 60px;
    }

    .section-two-cards{
        width:100%;
        display: flex;
        flex-direction: column;
    }

    .section-two-cards div{
        width:90%;
        align-self: center;
        margin: 20px;;
    }
}