html{
    background: linear-gradient(to right, rgb(248, 248, 248) 0%,rgba(25, 25, 231, 0.929) 400%);
}



.main {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 360px;
    border-radius: 12px;
    background-color: rgb(241, 245, 245);
    text-align: center;
    .time-start{
        position:absolute;
        left: 12px;
        margin:0px;
        font-size: 12px;
    }
    .time-end{
        position:absolute;
        right:6px;
        margin:0px;
        font-size: 12px;
    }
    .controls{
        button{
            margin:60px 6px 20px 6px ;
            border-radius: 50%;
            height: 40px;
            width: 40px;   
            position:relative;     
        }
        img{
            width: 20px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    .time-range{
        width:95%
    }
    .volume-image{
        width:22px;
    }
    .volume-range{
        width:88%;
    }
    .volume-div{
        display: inline;
    }
}
