.base-btn {
  transition: background-color 0.5s ease, transform 0.5s ease;
}

.changeToRed{
  background-color: red !important;  
  background-color: green !important;

}
.changeToGreen {
  background-color: rgb(9, 0, 128) !important;
}


.scaleUp{
    transform: scale(1.15);
}
.scaleNormal{
    transform: scale(1.0);
}