@{
    ViewData["Title"] = "Index";
}

<h1>Courses Page</h1>
<a asp-controller="Course" asp-action="ShowCourses" class="btn btn-primary">Show All Course</a>

<div style="height:40px"></div>
<a asp-controller="Course" asp-action="AddCourse" class="btn btn-primary">Add Course</a>

<div style="height:40px"></div>
<a asp-controller="Instructor" asp-action="getAll" class="btn btn-dark">Show All Instructors</a>

<div style="height:40px"></div>
<a asp-controller="Instructor" asp-action="AddInstructor" class="btn btn-dark">Add Instructor</a>
