<div class="container">
    <div class="row ">

        @for (student of students; track $index) {
        <div class="col-md-4">
            <app-student-card-component [student]="student"
                (myEvent)="storeSelectedStudent($event)"></app-student-card-component>
        </div>
        }
    </div>
</div>

@if (selectedStudent) {
<div class="container mt-3">
    <div class="row">
        <div class="col-12">
            <h2>Selected Student Details</h2>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Name : {{selectedStudent.name}}</h5>
                    <p class="card-text">Track : {{selectedStudent.track}}</p>
                    <p class="card-text">Grade : {{selectedStudent.grade}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
}