


.sec-one{
    background-image: url(resources/im3.jpg);
    height: 100vh;
    background-position: center center;
    background-size: cover;
    width: 100%;;
}

.img-card{
    width:40px;
    margin-top: 50px;
    margin-bottom: 50px;

}

.blue-p{
    color:  rgb(34, 74, 240);
    font-size: 12px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    margin: 12px;
}

.breaker{
    height: 220px;
}

h2{
    font-size: 60px !important;
    margin-bottom: 40px !important;
    font-weight: bolder;
}
h3{
    margin-top: 30px !important;
    margin-bottom: 40px !important;
    margin-left: 12px;
}

.card-t{
    color:rgb(46, 0, 81) !important;
}

.bg-clr-blue{
    background-color:rgb(57, 87, 254)!important ;
}

.white-p{
    color:white !important;
    margin-left: 12px;
}

.drpodown-div{
    width:50% !important;
}

.message-input{
    height:120px !important;
}


.submit-btn{
    background-color: rgb(17, 41, 87)!important;
}

.lawyer-name{
    font-size: large;
    font-weight: bold;
    margin-left: 12px;
}

@media screen and (max-width:431px){
    .drpodown-div{
        width: 100% !important;
    }
    .bg-clr-blue-height{
    height:320px;
}
}